:root {
    --dark-grey:#333237;
    --tan: #E0C8A5;
    --sage:#A9B0AB;
    --yellow: #D8C9A5;
    --blue: #B9D2E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--sage);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* HEADER / NAVBAR STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--yellow);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* add to freeze header 
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
    */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-grey);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--grey);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
}

header nav ul li a:hover {
    background-color: var(--tan);
    color: var(--dark-grey);
    border-radius: 15px;
}

/* FOOTER STYLES START - do i need? */

/* HERO STYLES START */
.hero {
    background-image: url("../images/210.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 100px;
}

.hero-cta {
    width: 30%;
    text-align: center;
    margin: 3.5%;
    color: var(--tan);
    font-size: 20px;
    line-height: 1.2;
    background-color: rgb(51,50,55, 0.8);
}

/* ABOUT ME START */
.section-title {
    font-size: 3vw;
    color: var(--dark-grey);
    text-align: center;
    padding: 20px 30px 50px 0;
}

.primary-border {
    border-right: 5px solid;
    border-color: var(--blue);
    margin: 0 0 20px;
}

.about-me {
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
}

.about-me-content {
    flex-wrap: wrap;
    align-items: center;
    flex: 1 15%;
}

.about-me img {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex: 0 15%;
    padding: 0 20px 20px;
}

.about-me p {
    flex-wrap: wrap;
    padding: 20px 20px 0;
    text-align: center;
    color: var(--dark-grey);
    flex: 15%;
    font-size: 16px;
}
/* END ABOUT ME */

/* WEB STARTS */

.web-projects {
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
}

.projects {
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    padding: 0 0 0 20px;
}

.main-project {
    flex-wrap: wrap;
    flex: 100%;
    background-image: url("../images/run-buddy-img.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px;
}

.sub-projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 20px 0;
}

.project-two {
    background-image: url("../images/pexels.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px;
}

.project-three {
    background-image: url("../images/blossoms.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px;
}

.web-projects a {
    text-decoration: none;
    color: var(--grey);
}

.project-text {
    background-color: var(--yellow);
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    margin: 0;
}


/* END WEB */



/* RESUME START */
.resume-current {
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
}

.resume-current p {
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 0;
    color: var(--dark-grey);
    font-size: 16px;
}
/* RESUME END */



/* CONTACT ME START */
.contact {
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
}

.contact-info {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-grey);
    font-size: 1.7vw;
    flex: 1;
    padding: 0 0 0 20px;
}

.contact ul {
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.contact li {
    flex-wrap: wrap;
    align-items: center;
    padding: 5px
}

.contact-info a {
    text-decoration: none;
    color: var(--grey);
}

.contact-info li:hover {
    background-color: var(--tan);
    color: var(--dark-grey);
    border-radius: 15px;
}
/* CONTACT ME END */

/* UTILITIES */
.flex-row {
    display: flex;
}
/* END UTILITIES */


/* add to smaller screen size for sub-projects 
    (flex-direction: column;
    align-items: center; ) 
*/
