:root {
    --dark-grey:#333237;
    --tan: #E0C8A5;
    --sage:#A9B0AB;
    --yellow: #D8C9A5;
    --blue: #B9D2E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .02em;
}



body {
    background-color: var(--sage);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* HEADER / NAVBAR STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--yellow);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* add to freeze header 
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
    */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-grey);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--grey);
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 2vw;
}

header nav ul li a:hover {
    background-color: var(--sage);
    color: var(--dark-grey);
    border-radius: 15px;
}

/* FOOTER STYLES START - do i need? */

/* HERO STYLES START */
.hero {
    background-image: url("../images/sand.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-attachment: fixed;
    background-position: 80%;
    padding: 250px 20px 20px 20px;
}

.hero-cta {
    text-align: center;
    color: var(--tan);
    font-size: 20px;
    padding: 10px;
    background-color: rgb(51,50,55, 0.8);
}

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 20px;
    color: var(--dark-grey);
    padding: 20px 20px 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 15%;
}

.primary-border {
    border-right: 5px solid;
    border-color: var(--blue);
    margin: 0 0 20px;
}

.section-content {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
}

/* SECTION TITLE STYLES END */

/* ABOUT ME START */

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 15%;
}

.about-me img {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex: 0 15%;
    padding: 0 20px 20px;
}

.about-me p {
    flex-wrap: wrap;
    padding: 0 0 0 20px;
    text-align: left;
    color: var(--dark-grey);
    flex: 15%;
    font-size: 20px;
}

.about-me a {
    text-decoration: none;
    color: var(--blue);
}
/* END ABOUT ME */

/* WEB STARTS */

.web-projects {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    padding: 0 0 0 20px;
}

.main-project {
    flex-wrap: wrap;
    flex: 100%;
    background-image: url("../images/run-buddy-img.jpg");/*fill with image */
    background-size: cover;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-left: 10px;
    opacity: 60%;
}

.main-project:hover {
    opacity: 100%;
}

.sub-projects {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    justify-content: space-between;
    
}

.project-two {
    background-image: url("../images/pexels.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 40%;
    flex-wrap: wrap;
    opacity: 60%;
    padding-top: 100px;
    padding-left: 10px;
    justify-content: space-between;
    margin: 20px;
}

.project-two:hover {
    opacity: 100%;
}

.project-three {
    background-image: url("../images/blossoms.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 10px;
    opacity: 60%;
    margin: 20px;
}

.project-three:hover {
    opacity: 100%;
}

.web-projects a {
    text-decoration: none;
    color: var(--grey);
}

.project-text {
    background-color: var(--yellow);
    text-align: center;
    padding: 5px;
}

/* END WEB */

/* RESUME START */
.resume-content {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding: 0 0 0 20px;
    color: var(--dark-grey);
    font-size: 16px;
    flex: 30%
}

.resume-content p {
    text-align: left;
    color: var(--dark-grey);
    flex: 15%;
    font-size: 20px;
}
/* RESUME END */

/* CONTACT ME START */
.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-grey);
    font-size: 1.7vw;
    flex: 1;
    padding-left: 20px;
}

.contact ul {
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.contact li {
    flex-wrap: wrap;
    align-items: center;
    padding: 5px
}

.contact-info a {
    text-decoration: none;
    color: var(--grey);
}

.contact-info li:hover {
    background-color: var(--tan);
    color: var(--dark-grey);
    border-radius: 15px;
}
/* CONTACT ME END */

/* UTILITIES */
.flex-row {
    display: flex;
}
/* END UTILITIES */

/* MEDIA QUERY FOR SMALLER DESKTO SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header { 
        padding-bottom: 0;
        justify-content: center;
        position:relative;
    }

    header h1 {
        width: 100%;
        text-align:center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content:center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .contact-info li {
        font-size: 19px;
    }

    .about-me-content p {
        flex: 50%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .section-content {
        padding: 20px 10px 20px 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .hero-cta {
        font-size: 16px;
    }
    
    .section-title {
        font-size: 16px;
        width: 30%;
    }

    .about-me-content p {
        font-size: 16px;
    }

    .resume-content p {
        font-size: 16px;
    }

    .contact-info {
        text-align: left;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-info li {
        font-size: 16px;
    }
}