:root {
    --dark-grey:#333237;
    --tan: #E0C8A5;
    --sage:#A9B0AB;
    --yellow: #D8C9A5;
    --blue: #B9D2E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--sage);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER / NAVBAR STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--yellow);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-grey);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--grey);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: var(--tan);
    color: var(--dark-grey);
    border-radius: 15px;
}

/* FOOTER STYLES START - do i need? */

/* HERO STYLES START */
.hero {
    background-image: url("../images/210.jpg");/*fill with image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 100px;
}

.hero-cta {
    width: 30%;
    text-align: center;
    margin: 3.5%;
    color: var(--tan);
    font-size: 20px;
    line-height: 1.2;
    background-color: rgb(51,50,55, 0.8);
}

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 30px;
    border-right: 3px solid;
    color: var(--blue);
    text-align: center;
}

.primary-border {
    border-right: 5px solid;
    color: var(--blue);
    padding: 5px
}

.intro img {
    display: flex;
    justify-content: center;
    width: 25%;
    flex-wrap: wrap;
    padding: 20px;
}

.intro p {
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}

/* UTILITIES */
.flex-row {
    display: flex;
}
/* END UTILITIES */